body {
  background: #f2f2f2;
}

.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 400px;
  width: 90%;
  padding: 2.5rem;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem;
}

.login-container h1 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0 0 1.5rem;
  padding: 0;
  color: rgb(16, 137, 211);
  text-align: center;
}

.login-container .error {
  color: black;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}

.login-container .input-field {
  position: relative;
}

.login-container .input-field input {
  width: 100%;
  padding: 0.6rem 0;
  padding-left: 0.2rem;
  font-size: 1rem;
  color: rgb(35, 35, 35);
  margin-bottom: 1.8rem;
  border: none;
  border-bottom: 1px solid grey;
  outline: none;
  background: transparent;
}

.login-container .input-field label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.4rem 0;
  font-size: 1rem;
  color: grey;
  pointer-events: none;
  transition: 0.5s ease;
}

.login-container .input-field input:focus ~ label,
.login-container .input-field input:valid ~ label {
  top: -20px;
  left: 0;
  color: rgb(16, 137, 211);
  font-size: 0.8rem;
}

.login-container button {
  width: 100%;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 4px;
  color: #fff;
  padding: 0.8rem 1.5rem;
  margin: 1rem 0;
  border: none;
  background: linear-gradient(
    45deg,
    rgb(16, 137, 211) 0%,
    rgb(18, 177, 209) 100%
  );
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
  border-radius: 1rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.login-container button:hover {
  transform: scale(1.03);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 23px 10px -20px;
}

.login-container button:active {
  transform: scale(0.95);
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 15px 10px -10px;
}

.login-container p {
  color: grey;
  font-size: 0.8rem;
  margin: 0.5rem 0 1rem;
  text-align: center;
}

.login-container p .register-link {
  text-decoration: none;
  color: #0099ff;
}

.login-container p .register-link:hover {
  text-decoration: underline;
}
