.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
    height: 70px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    background-color: azure;
}

.navbar .logo {
    padding-left: 2rem;
}

.navbar .menu {
    display: flex;
    gap: 3rem;
}

.navbar .list-item{
    list-style: none;
}

.navbar .list-item a {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 550;
    position: relative;
}

.navbar .list-item a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    height: 0.2rem;
    width: 0%;
    background-color: royalblue;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.navbar .list-item a:hover::after {
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}